:host {
  .header {
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;

    .container {
      display: block;
      .capital-text {
      }

      .minor-text {
      }
    }
  }
}

